body{
  background-image:  url(https://user-images.githubusercontent.com/43012445/105452071-411e4880-5c43-11eb-8ae2-4de61f310bf9.gif);
  background-blend-mode: multiply;

  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    min-height: 100vh;
    margin: 0;
     display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center; 
}
h6{
  color: #34d346; font-family: kostas, monospace;
}

h1{
  color: #34d346; font-family: monospace;
    text-shadow: 0 0 5px #34d346, 0 0 10px #34d346, 0 0 20px #34d346, 0 0 40px #34d346
}
li{
  color: #34d346; font-family: monospace;
}
h2{
  color: #34d346; font-family: monospace;
    text-shadow: 0 0 5px #34d346, 0 0 10px #34d346, 0 0 20px #34d346, 0 0 40px #34d346
}
p{
  color: #34d346; font-family: monospace;
}
input{
  color: #34d346; font-family: monospace;
   background-color: black; border-radius: 8px; border-color: #215741; padding: 12px 15px; 
    font-size: 16px; outline: none; 
    transition: 0.3s;
}
button{
  color: #46bd8d; font-family: monospace; background-color: black; border-color: #215741;
}
div{
  background-color: black; border: 1px white solid; border-radius: 9px 0 9px 0; max-width: 400px;  width: 90%; overflow-wrap: break-word; white-space: normal;
  }
@font-face {
  font-family: 'Kostas';
  src: url('Kostas.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}